# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environments
venv/
env/
myenv/

# Django specific
*.log
staticfiles/
db.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
.env
